<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-tab-bar slot="top">
    <ion-tab-button tab="la-luna" routerLink="/tabs/la-luna" routerDirection="root">
      <ion-icon aria-hidden="true" name="moon"></ion-icon>
      <ion-label>La Luna</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="terrestrial-location" routerLink="/tabs/terrestrial-location" routerDirection="root">
      <ion-icon aria-hidden="true" name="globe"></ion-icon>
      <ion-label>Terrestrial Location</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLink="/tabs/tab3" routerDirection="root">
      <ion-icon aria-hidden="true" name="planet"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>