<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Terrestrial Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-map #map
    [center]="center"
    [zoom]="zoom"
    [options]="mapOptions"
    (mapClick)="onMapClick($event)"
    class="map">
    <map-advanced-marker [position]="center"></map-advanced-marker>
    <map-advanced-marker *ngIf="savedLocation" [position]="savedLocation"></map-advanced-marker>
  </google-map>
  <div class="coordinates">
    Current: Lat: {{center.lat.toFixed(6)}}, Lng: {{center.lng.toFixed(6)}}
    <br>
    Saved: Lat: {{savedLocation?.lat?.toFixed(6) || 'None'}}, Lng: {{savedLocation?.lng?.toFixed(6) || 'None'}}
  </div>
</ion-content>